@model UserService.Models.User

<h2>Edit User</h2>

<form asp-action="Edit" asp-controller="User" method="post">
    <input asp-for="Id" type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="FirstName">*First Name:</label>
        <input asp-for="FirstName" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <label for="LastName">*Last Name:</label>
        <input asp-for="LastName" class="form-control" id="LastName" name="LastName" value="@Model.LastName" />
    </div>
    <div class="form-group">
        <label for="Birthdate">*Birthdate:</label>
        <input asp-for="Birthdate" class="form-control" id="Birthdate" name="Birthdate" value="@Model.Birthdate" />
    </div>
    <div class="form-group">
        <label for="Email">*Email:</label>
        <input asp-for="Email" class="form-control" id="Email" name="Email" value="@Model.Email" />
    </div>
    <div class="form-group">
        <label for="Password">*Password:</label>
        <input asp-for="Password" class="form-control" id="Password" name="Password" value="@Model.Password" />
    </div>
    <div class="form-group">
        <label for="Phone">Phone:</label>
        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" name="PhoneNumber"
            value="@Model.PhoneNumber" />
    </div>
    <div class="form-group">
        <label for="Address">Address:</label>
        <input asp-for="Address" class="form-control" id="Address" name="Address" value="@Model.Address" />
    </div>
    <div class="form-group">
        <label for="City">City:</label>
        <input asp-for="City" class="form-control" id="City" name="City" value="@Model.City" />
    </div>
    <div class="form-group">
        <label for="ZipCode">Zip:</label>
        <input asp-for="ZipCode" class="form-control" id="ZipCode" name="ZipCode" value="@Model.ZipCode" />
    </div>
    <div class="form-group">
        <label for="Country">Country:</label>
        <input asp-for="Country" class="form-control" id="Country" name="Country" value="@Model.Country" />
    </div>
    <div class="form-group">
        <label for="Role">Role:</label>
        <select asp-for="Role" class="form-control" id="Role" name="Role" value="@Model.Role">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();

            var formData = $(this).serialize();

            console.log(formData);

            $.ajax({
                type: "POST",
                url: "/User/Edit/" + $("input[name='Id']").val(),
                data: formData, // Send the serialized form data
                contentType: "application/x-www-form-urlencoded", // Content type for form data
                success: function (data) {
                    // handle success
                    window.location.href = "/User";
                },
                error: function (err) {
                    // handle error
                    console.log(err);
                }
            });
        });
    });
</script>
